@model ORT_PNT1_Proyecto_2022_2C_I_ReservaEspectaculo.Models.Sala

@{
    ViewData["Title"] = "Delete";
}

<p></p>

<h4>Eliminar sala</h4>

<h6>Para eliminar la sala, confirme una vez más su decisión. La acción no se puede deshacer.</h6>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroDeSala)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroDeSala)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoSala)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoSala)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CapacidadButacas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapacidadButacas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ButacasDisponibles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ButacasDisponibles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Confirmada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Confirmada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pelicula)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Pelicula.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
    </form>

    <p></p>
    <p><a asp-action="Index">Volver al listado</a></p>
</div>
