@model ORT_PNT1_Proyecto_2022_2C_I_ReservaEspectaculo.Models.Sala

@{
    ViewData["Title"] = "Details";
    List<Pelicula> pelicula = (List<Pelicula>)ViewBag.Pelicula;
}

<h1>Details</h1>

<div>
    <h4>Sala</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NumeroDeSala)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NumeroDeSala)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TipoSala)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TipoSala)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CapacidadButacas)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CapacidadButacas)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ButacasDisponibles)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ButacasDisponibles)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Confirmada)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Confirmada)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Pelicula)
        </dt>
        <dd class = "col-sm-10">
            <h8>@Html.ActionLink(@pelicula.First().Titulo, "Details", "Peliculas", new { id = @pelicula.First().Id })</h8>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Fecha)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Fecha)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole(Configs.Empleado))
    {
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a><a> | </a>
    }
    <a asp-action="Index">Back to List</a>
</div>