@model IEnumerable<ORT_PNT1_Proyecto_2022_2C_I_ReservaEspectaculo.Models.Sala>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

@if (User.IsInRole(Configs.Empleado))
{
    <p>
        <a asp-action="Create">Create New</a>
    </p>
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.NumeroDeSala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TipoSala)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CapacidadButacas)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ButacasDisponibles)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Confirmada)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Pelicula)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Fecha)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NumeroDeSala)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TipoSala)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CapacidadButacas)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ButacasDisponibles)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Confirmada)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pelicula.Titulo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Fecha)
            </td>
            <td>
                <a asp-action="Details" asp-route-id="@item.Id">Details</a>
                    @if (User.IsInRole(Configs.Empleado))
                    {
                         <a> | </a><a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                    }
            </td>
        </tr>
}
    </tbody>
</table>
