@{
    ViewData["Title"] = "Home Page";
    List<SelectListItem> listaDeGeneros = (List<SelectListItem>)ViewBag.listaDeGeneros;
    List<Pelicula> listaDePeliculas = (List<Pelicula>)ViewBag.listaDePeliculas;
}

<p></p>
<div class="text-center">
    <h1 class="display-4">Bienvenides a CinemaORT</h1>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div id="todas-las-peliculas">
                    <div class="card" style="width: 80rem; height:10rem;">
                        <img src="" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">¡Este es tu cine!</h5>
                            <p class="card-text">Ven a ver las mejores películas.</p>
                            <a class="btn btn-primary" asp-area="" asp-controller="Peliculas" asp-action="Index">Ver películas disponibles</a>
                        </div>
                    </div>
                </div>
            </div>
 
            @foreach (var pelicula in listaDePeliculas)
            {
            <div class="carousel-item">
                <div id=@pelicula.Titulo>
                    <div class="card" style="width: 80rem; height:10rem;">
                        <img src="" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">@pelicula.Titulo</h5>
                            <p class="card-text">@pelicula.Descripcion</p>
                            <a class="btn btn-primary" asp-controller="Peliculas" asp-action="Details" asp-route-id="@pelicula.Id">Ver salas disponibles</a>
@*                          <a class="btn btn-primary">@Html.ActionLink("Ver salas disponibles", "Details", "Peliculas", new { id = @pelicula.Id })</a>*@
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>