@{
    ViewData["Title"] = "Página principal";
    List<SelectListItem> listaDeGeneros = (List<SelectListItem>)ViewBag.listaDeGeneros;
    List<Pelicula> listaDePeliculas = (List<Pelicula>)ViewBag.listaDePeliculas;
}

<head>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
</head>



<p></p>
<header>
    <section class="textos-header">
        <h1 class="display-4">Bienvenides a CinemaORT</h1>
    </section>
@*    <div class="wave" style="height: 150px; overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.99 C150.00,150.00 349.20,-49.99 500.00,49.99 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #08f;"></path></svg></div>*@
</header>

<div class="text-center">
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div id="todas-las-peliculas">
                    <div class="card" style="width: 80rem; height:10rem;">
                        <img src="" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">¡Este es tu cine!</h5>
                            <p class="card-text">Ven a ver las mejores películas.</p>
                            <a class="btn btn-primary" asp-area="" asp-controller="Peliculas" asp-action="Index">Ver películas disponibles</a>
                        </div>
                    </div>
                </div>
            </div>
 
            @foreach (var pelicula in listaDePeliculas)
            {
            <div class="carousel-item">
                <div id=@pelicula.Titulo>
                    <div class="card" style="width: 80rem; height:10rem;">
                        <img src="" class="card-img-top" alt="">
                        <div class="card-body">
                            <h5 class="card-title">@pelicula.Titulo</h5>
                            <p class="card-text">@pelicula.Descripcion</p>
                            <a class="btn btn-primary" asp-controller="Peliculas" asp-action="Details" asp-route-id="@pelicula.Id">Ver salas disponibles</a>
@*                          <a class="btn btn-primary">@Html.ActionLink("Ver salas disponibles", "Details", "Peliculas", new { id = @pelicula.Id })</a>*@
                        </div>
                    </div>
                </div>
            </div>
            }
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="visually-hidden">Next</span>
        </button>
    </div>
</div>