@model ORT_PNT1_Proyecto_2022_2C_I_ReservaEspectaculo.Models.Pelicula

@{
    ViewData["Title"] = "Delete";
}

<p></p>

<h4>Eliminar película</h4>

<h6>Para eliminar la película, confirme una vez más su decisión. La acción no se puede deshacer.</h6>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Genero.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaLanzamiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaLanzamiento)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
    </form>

    <p></p>
    <p><a asp-action="Index">Volver al listado</a></p>
</div>