@model ORT_PNT1_Proyecto_2022_2C_I_ReservaEspectaculo.Models.Pelicula

@{
    ViewData["Title"] = "Details";
    List<Genero> genero = (List<Genero>)ViewBag.Genero;
    List<Sala> listaDeSalas = (List<Sala>)ViewBag.listaDeSalas;
}

<h1>Details</h1>

<div>
    <h4>Película</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Genero)
        </dt>
        <dd class = "col-sm-10">
            <h8>@Html.ActionLink(@genero.First().Nombre, "Details", "Generos", new { id = @genero.First().Id })</h8>
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaLanzamiento)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaLanzamiento)
        </dd>
        @if (listaDeSalas.Count != 0)
        {
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Salas)
            </dt>
            <dd class = "col-sm-10"></dd>
            @foreach (var sala in listaDeSalas)
            {
                <dt class = "col-sm-2"></dt>
                <dd class = "col-sm-10">
                <h8>@Html.ActionLink(sala.DetalleSoloSala, "Details", "Salas", new { id = sala.Id })</h8>
                </dd>
            }
        } 
        else
        {
            <dt class = "col-sm-2"></dt>
            <dd class = "col-sm-10">@MensajesDeError.PeliculaSinSalas</dd>
        }
    </dl>
</div>
<div>
    @if (User.IsInRole(Configs.Empleado))
    {
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a><a> | </a>
    }
    <a asp-action="Index">Back to List</a>
</div>