@model ORT_PNT1_Proyecto_2022_2C_I_ReservaEspectaculo.Models.Cliente

@{
    ViewData["Title"] = "Details";
    List<Reserva> reservasDelCliente = (List<Reserva>)ViewBag.reservasDelCliente;
}

<p></p>

<div>
    <h4>Detalles del cliente @Model.NombreCompleto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Apellido)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Dni)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Dni)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FechaAlta)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FechaAlta)
        </dd>
        @if (reservasDelCliente.Count != 0)
        {
            <dt class = "col-sm-2">
                @Html.DisplayNameFor(model => model.Reservas)
            </dt>
            <dd class = "col-sm-10"></dd>
            @foreach (var reserva in reservasDelCliente)
            {
                <dt class = "col-sm-2"></dt>
                <dd class = "col-sm-10">
                <h8>@Html.ActionLink(@reserva.DetalleReservaConPeliculas.ToString(), "Details", "Reservas", new { id = @reserva.Id })</h8>
                </dd>
            }
        } 
        else
        {
            <dt class = "col-sm-2"></dt>
            <dd class = "col-sm-10">@MensajesDeError.ClienteSinReservas</dd>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Modificar datos de contacto</a> |
    @if (User.IsInRole(Configs.Empleado))
    {
        <a asp-action="Index">Volver al listado</a>
    }
    else
    {
        <a asp-controller="Home" asp-action="Index">Ir a la página principal</a>
    }
</div>